<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="center">
		<div class="text-center">
		
			
			<h1 class="font-weight-bold">Voting Application</h1>
			
			<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:red"></h3>
   			<th:block th:text="${#session.removeAttribute('msg')}"></th:block>

		
   
   		</div>	
	
		</div>
		
		<div class="bg-white">
			<div class="container mx-auto">
			  <h1 class="text-center text-4xl text-extrabold font-poppins pt-8 md:pt-10 pb-5 mb:pb-0 px-20">
				<strong class="text-black">Our Headquarter</strong>
				
			  </h1>
			  <div class="grid grid-cols-1 gap-10 mt-4 mb-16 ml-10 mr-10 md:grid-cols-3 text-center">
				<div class="border bg-gray-200 shadow-lg rounded-md text-center">
				  <a href="#"><i class="fa-solid fa-house-user text-7xl pt-3 hover:text-amber-500"></i></a>
				  <h1 class="mt-2 mb-1 font-poppins text-center">Tangerang Selatan</h1>
				  <h4 class="mt-2 mb-3 font-poppins text-center text-sm text-gray-500"></h3>
				</div>
				<div class="border bg-gray-200 shadow-lg rounded-md text-center">
				  <a href="#"><i class="fa-solid fa-house-user text-7xl pt-3 hover:text-amber-500"></i></a>
				  <h1 class="mt-2 mb-1 font-poppins text-center">Jakarta Selatan</h1>
				  <h4 class="mt-2 mb-3 font-poppins text-center text-sm text-gray-500"></h3>
				</div>
				<div class="border bg-gray-200 shadow-lg rounded-md text-center">
				  <a href="#"><i class="fa-solid fa-house-user text-7xl pt-3 hover:text-amber-500"></i></a>
				  <h1 class="mt-2 mb-1 font-poppins text-center">Jakarta Barat</h1>
				  <h4 class="mt-2 mb-3 font-poppins text-center text-sm text-gray-500"></h3>
					
				</div>
			  </div>
			</div>
		  </div>
	</section>
</body>
</html>